# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are Summarized

#### Popular Data Science Libraries

 NumPy  
 Pandas  
 Matplotlib  
 Seaborn  
 Scikit-learn  
 TensorFlow  
 PyTorch  
 SciPy    
 Keras

#### Popular Data Science Languages

Python  
    R     
SQL    
Julia     
Java  
Scala  
MATLAB   
C++  
SAS

| Data Science Tools |
|------------------|
| Jupyter Notebook |
| RStudio          |
| Apache Spark     |
| Tableau          |
| Power BI         |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [12]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [13]:
mins = 200
hours = mins/60

hours

3.3333333333333335

__Objectives__

• Writing headings in a cell  
• Provide data science languages  
• Provide data science libraries  
• Comment in a cell  
• Execute expressions in a cell
• Provide data science tools

# Author

Sokolo David Matsolo